{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Signin</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href='{{ url_for("static", filename="css/login.css")}}'>
<link rel="stylesheet" href='{{ url_for("static", filename="css/oxyher.css")}}'>
<link rel="stylesheet" href='{{ url_for("static", filename="css/font.css")}}'>
{% endblock %}



{% block body %}

<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-4">
                                <div class="mb-3">
                                    <h3 class="h4  gradient-text fs-1">Signin</h3>
                                </div>

                                <h6 class="h5 mb-0">Welcome back !</h6>
                                <p class="text-muted mt-2 mb-3">Enter your email address or mobile number.</p>
                                <form action="/auth/signin" method="post">
                                    <div class="form-group mb-3 ">
                                        <label for="auth_key">Email address or mobile number</label>
                                        <div class="input-container">
                                            <input type="text" class="container-fluid form-input rounded-sharp mt-1"
                                                name="auth_key" id="auth_key" value="{{ session['auth_key'] }}"
                                                required>
                                        </div>

                                        {% if auth_key %}
                                        <div class="input-container">
                                            <div class="rounded-sharp container mt-1 alert alert-danger alert-dismissible fade show"
                                                role="alert">
                                                <strong>{{ error }}</strong> not valid
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                            </div>
                                        </div>
                                        {% endif %}


                                        <div class="input-container">
                                            <button type="submit"
                                                class="btn btn-voilet rounded-5 text-white container-fluid mt-4">Move
                                                on</button>
                                        </div>

                                    </div>


                                    <div class="form-group mb-3">
                                        <p class="text-center fw-normal">or</p>
                                        <a href="/oauth/" class="btn btn-darkblue rounded-5 container-fluid">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                                fill="currentColor" class="bi bi-google text-white" viewBox="0 0 16 16"
                                                disabled="">
                                                <path
                                                    d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                                            </svg>
                                            <span class="ms-2 fs-6 text-white">Log in with google</span>
                                        </a>
                                    </div>
                                    <div class="mt-5 mb-3">
                                        <hr>
                                    </div>
                                    <div class="form-group mb-3">
                                        <p>Need new account ? <a href="{{ url_for('auth.signup') }}"
                                                class="forgot-link float-right text-primary">click here</a> </p>
                                    </div>
                                    <div class="form-group mb-3">
                                        <p>Forget your password ? <a href="{{ url_for('auth.forget_pass') }}"
                                                class="forgot-link float-right text-primary">click here</a> </p>
                                    </div>


                                </form>
                            </div>
                        </div>

                        <div class="col-lg-6 d-none d-lg-inline-block mt-3">
                            <div class="account-block">
                                <div class="overlay"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-white mb-4">This beautiful life yours!</h4>
                                    <p class="lead text-white">"Best investment i made for a long time. Can only
                                        recommend it for other users."</p>
                                    <p>- Women</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>
{% endblock %}



{% block tail %}
<script src='{{ url_for("static", filename="js/scripts.js")}}'></script>
<script src='{{ url_for("static", filename="js/query.js")}}'></script>
<script src='{{ url_for("static", filename="js/login.js")}}'></script>
{% endblock %}