{% extends "base.html" %}





{% block head %}

<title>Products</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" href="/static/assets/css/ready.css">
<link rel="stylesheet" href="/static/assets/css/demo.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css"
	rel="stylesheet">



{% endblock %}

{% block body %}
<div class="wrapper">

	{% include "themes/seller/common/navbar.html" %}
	{% include "themes/seller/common/sidebar.html" %}



	<div class="main-panel">
		<div class="content">
			<div class="container-fluid">
				<h4 class="page-title">Typography</h4>
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-title">Card Title</div>
								<div class="card-category">Card Category</div>
							</div>
							<div class="card-body">
								<table class="table table-typo">
									<tbody>
										<tr>
											<td>
												<p>Header 1</p>

											</td>
											<td><span class="h1">h1. Bootstrap heading</span></td>
										</tr>
										<tr>
											<td>
												<p>Header 2</p>

											</td>
											<td><span class="h2">h2. Bootstrap heading</span></td>
										</tr>
										<tr>
											<td>
												<p>Header 3</p>

											</td>
											<td><span class="h3">h3. Bootstrap heading</span></td>
										</tr>
										<tr>
											<td>
												<p>Header 4</p>

											</td>
											<td><span class="h4">h4. Bootstrap heading</span></td>
										</tr>
										<tr>
											<td>
												<p>Header 5</p>

											</td>
											<td><span class="h5">h5. Bootstrap heading</span></td>
										</tr>
										<tr>
											<td>
												<p>Header 5</p>

											</td>
											<td><span class="h6">h6. Bootstrap heading</span></td>
										</tr>
										<tr>
											<td>
												<p>Paragraph</p>

											</td>
											<td>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting
													industry. Lorem Ipsum has been the industry's standard dummy
													text ever since the 1500s, when an unknown printer took a galley
													of type and scrambled it to make a type specimen book.</p>
												</span>
											</td>
										</tr>
										<tr>
											<td>
												<p>Paragraph Lead</p>

											</td>
											<td>
												<p class="lead">Lorem Ipsum is simply dummy text of the printing and
													typesetting industry. Lorem Ipsum has been the industry's
													standard dummy text ever since the 1500s, when an unknown
													printer took a galley of type and scrambled it to make a type
													specimen book.</p>
											</td>
										</tr>
										<tr>
											<td>
												<p>Quote</p>

											</td>
											<td>
												<blockquote>
													<p class="blockquote blockquote-primary">
														"Lorem Ipsum is simply dummy text of the printing and
														typesetting industry. Lorem Ipsum has been the industry's
														standard dummy text ever since the 1500s, when an unknown
														printer took a galley of type and scrambled it to make a
														type specimen book."
														<br>
														<br>
														<small>
															- Noaa
														</small>
													</p>
												</blockquote>
											</td>
										</tr>
										<tr>
											<td>
												<p>Primary Text</p>

											</td>
											<td>
												<p class="text-primary">Lorem Ipsum is simply dummy text of the
													printing and typesetting industry...</p></span>
											</td>
										</tr>
										<tr>
											<td>
												<p>Info Text</p>

											</td>
											<td>
												<p class="text-info">Lorem Ipsum is simply dummy text of the
													printing and typesetting industry...</p></span>
											</td>
										</tr>
										<tr>
											<td>
												<p>Success Text</p>

											</td>
											<td>
												<p class="text-success">Lorem Ipsum is simply dummy text of the
													printing and typesetting industry...</p></span>
											</td>
										</tr>
										<tr>
											<td>
												<p>Warning Text</p>

											</td>
											<td>
												<p class="text-warning">Lorem Ipsum is simply dummy text of the
													printing and typesetting industry...</p></span>
											</td>
										</tr>
										<tr>
											<td>
												<p>Danger Text</p>

											</td>
											<td>
												<p class="text-danger">Lorem Ipsum is simply dummy text of the
													printing and typesetting industry...</p></span>
											</td>
										</tr>
										<tr>
											<td>
												<p>Muted Text</p>

											</td>
											<td>
												<p class="text-muted">Lorem Ipsum is simply dummy text of the
													printing and typesetting industry...</p></span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="card-footer">
								<hr>
								Card Footer
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container-fluid">
				<nav class="pull-left">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="http://www.themekita.com">
								ThemeKita
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Help
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://themewagon.com/license/#free-item">
								Licenses
							</a>
						</li>
					</ul>
				</nav>
				<div class="copyright ml-auto">
					2018, made with <i class="la la-heart heart text-danger"></i> by <a
						href="http://www.themekita.com">ThemeKita</a>
				</div>
			</div>
		</footer>
	</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h6 class="modal-title"><i class="la la-frown-o"></i> Under Development</h6>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">
				<p>Currently the pro version of the <b>Ready Dashboard</b> Bootstrap is in progress development</p>
				<p>
					<b>We'll let you know when it's done</b>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block tail %}

<script src="/static/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="/static/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/static/assets/js/core/popper.min.js"></script>
<script src="/static/assets/js/core/bootstrap.min.js"></script>
<script src="/static/assets/js/plugin/chartist/chartist.min.js"></script>
<script src="/static/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="/static/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="/static/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="/static/assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/static/assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="/static/assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="/static/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="/static/assets/js/ready.min.js"></script>
<script src="/static/assets/js/demo.js"></script>

<script>
	$(function () {
		$("#slider").slider({
			range: "min",
			max: 100,
			value: 40,
		});
		$("#slider-range").slider({
			range: true,
			min: 0,
			max: 500,
			values: [75, 300]
		});
	});
</script>
{% endblock %}