{% extends "base.html" %}

{% block head %}
<title>User Orders</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='{{ url_for("static", filename="css/style.css")}}' rel="stylesheet">

<style>
    input::placeholder,
    textarea::placeholder {
        color: red;
    }
</style>
<style>
    .list-group {
        border-color: #D0D5DC !important;
    }

    .list-group .list-group-item {
        border-color: #D0D5DC !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500 !important;
    }

    a.account-card {
        text-decoration: none;
        color: unset;
    }

    a.account-card i.fa {
        font-size: 42px;
        width: 45px;
    }

    a.account-card .card {
        background: #F9FAFB;
        border: 1px solid #D0D5DC;
    }

    a.account-card .card:hover {
        background: #FFFFFF;
    }

    a.account-card .card:active {
        background: #F0F2F5;
    }

    .bg-yellow {
        background: #F5D847;
        color: #222C3A;
    }

    .list-group-item-action {
        background: #F9FAFB;
    }

    .list-group-item-action .fa {
        width: 22px;
    }

    .list-group-item-action .fa.fa-angle-right {
        font-size: 20px;
        position: absolute;
        right: 5px;
        top: 14px;
    }

    .coupon {
        background: #F9FAFB;
        border: 2px dashed #D0D5DC !important;
    }

    .reward-status-box {
        position: relative;
        width: 100%;
        color: #FFFFFF;
        background: #1b8cb2;
        border: 2px solid #38b7e1;
        border-radius: 5px;
    }

    .reward-status-box .reward-status {
        width: 60%;
        background: #38b7e1;
        padding: 15px;
    }

    .reward-status-box .current-status {
        position: absolute;
        right: 15px;
        top: 15px;
        color: #FFFFFF;
    }

    .reward-status-box .current-status-2 {
        position: absolute;
        right: 15px;
        top: 41px;
        color: #FFFFFF;
    }

    .text-orange {
        color: #EC9532 !important;
    }

    .text-carbon {
        color: #222C3A !important;
    }

    .text-pebble {
        color: #79879A !important;
    }

    .text-gray {
        color: #A2ABB9 !important;
    }

    .text-cloud {
        color: #D0D5DC !important;
    }

    .text-blue {
        color: #49AED0 !important;
    }

    .text-gray {
        color: #A2ABB9 !important;
    }

    .text-pale-sky {
        color: #A2ABB9 !important;
    }

    .bg-black {
        background: #111822 !important;
    }

    .bg-snow {
        background: #F9FAFB !important;
    }

    .bg-fog {
        background: #F0F2F5 !important;
    }

    .bb1-cloud {
        border-bottom: 1px solid #D0D5DC;
    }

    .fs-14 {
        font-size: 14px !important;
    }

    .fs-22 {
        font-size: 22px !important;
    }

    .btn-primary {
        background: #C62931;
        border-color: #C62931;
        cursor: pointer;
    }

    .btn-primary:hover {
        background: #d94950;
        border-color: #d94950;
    }

    .btn-secondary {
        background: #FFFFFF !important;
        color: #354050 !important;
        border-color: #D0D5DC !important;
        cursor: pointer;
    }

    .btn-secondary:hover {
        color: #354050 !important;
        background: #F9FAFB !important;
    }

    .btn-secondary:active {
        color: #79879A !important;
        background: #F0F2F5 !important;
    }

    .btn-secondary:focus {
        color: #79879A !important;
        background: #F0F2F5 !important;
        outline: 0 !important;
    }

    .border-dark {
        color: #184b92;
    }

    .mobile-nav {
        position: fixed;
        bottom: 0;
        z-index: 50;
        display: block;
        width: 100%;
        background: #111822;
    }

    .mobile-nav a {
        text-decoration: none !important;
        cursor: pointer;
        color: #A2ABB9;
        font-size: 12px;
        width: 20%;
        display: inline-block;
        text-align: center;
        margin: 0 !important;
        padding: 8px 0px 5px 0px;
    }

    .mobile-nav a.active {
        background: #222C3A;
        color: #FFFFFF;
    }

    .mobile-nav a i {
        font-size: 23px;
        display: block;
        margin: 0 auto;
        margin-bottom: 2px;
    }

    .fs-18 {
        font-size: 18px !important;
    }

    .fs-22 {
        font-size: 22px !important;
    }

    .bg-snow {
        background: #F9FAFB !important;
    }

    .card {
        border-color: #D0D5DC !important;
    }

    .text-pebble {
        color: #79879A !important;
    }

    .text-charcoal {
        color: #354050 !important;
    }

    .bottom-drawer {
        position: fixed;
        bottom: 56px;
        width: 100%;
        border-top: 1px solid #D0D5DC;
    }

    .bg-white {
        background: #FFFFFF !important;
    }

    .list-group {
        border-color: #D0D5DC !important;
    }

    .list-group-item {
        border-color: #D0D5DC !important;
    }

    .text-red {
        color: #C62931 !important;
    }

    .text-green {
        color: #00A362 !important;
    }

    .text-link-blue {
        color: #3373cc !important;
    }

    .form-control {
        background: #F9FAFB;
        border-color: #D0D5DC !important;
    }

    .bd-2-cloud {
        border: 2px dashed #D0D5DC;
    }

    .b-1-green {
        border: 2px solid #00A362 !important;
    }

    .br-8 {
        border-radius: 5px;
    }

    .address-radio .address-label {
        padding: 1rem;
        margin-bottom: 0 !important;
    }

    .address-radio [type=radio]:checked,
    .address-radio [type=radio]:not(:checked) {
        position: absolute;
        opacity: 0;
    }

    .address-radio [type=radio]:checked+label,
    .address-radio [type=radio]:not(:checked)+label {
        position: relative;
        padding-left: 50px;
        width: 100%;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #354050;
    }

    .address-radio [type=radio]:checked+label:before,
    .address-radio [type=radio]:not(:checked)+label:before {
        content: "";
        position: absolute;
        left: 1rem;
        top: 1rem;
        width: 20px;
        height: 20px;
        border: 2px solid #D0D5DC;
        border-radius: 50%;
        background: #fff;
    }

    .address-radio [type=radio]:checked+label:after,
    .address-radio [type=radio]:not(:checked)+label:after {
        content: "";
        width: 12px;
        height: 12px;
        background: #00A362;
        position: absolute;
        top: 20px;
        left: 20px;
        border-radius: 50%;
        transition: all 0.2s ease;
    }

    .address-radio [type=radio]:not(:checked)+label:after {
        opacity: 0;
        transform: scale(0);
    }

    .address-radio [type=radio]:checked+label:after {
        opacity: 1;
        transform: scale(1);
    }

    .address-radio [type=radio]:not(:checked)~label p {
        display: none;
    }

    .address-radio [type=radio]:checked~label p {
        display: unset;
    }
</style>
{% endblock %}



{% block body %}
{% include 'themes/customer/common/navbar.html' %}


{{orders}}
<div class="container mt-3 mt-md-5">
    <h4 class="text-charcoal hidden-sm-down">Hello, {{name}} :)</h4>
    <div class="row">
        <div class="col-12">
            <div class="list-group mb-5">
                <div class="list-group-item p-3 bg-snow" style="position: relative;">
                    <div class="row w-100 no-gutters">
                        <div class="col-6 col-md">
                            <h6 class="text-charcoal mb-0 w-100">Order Id</h6>
                            <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">#{{ order_details['orders'][0]['order_id']}}
                            </p>
                        </div>
                        <div class="col-6 col-md">
                            <h6 class="text-charcoal mb-0 w-100">Date</h6>
                            <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">{{ order_details['orders'][0]['order_date']}}
                            </p>
                        </div>
                        <div class="col-6 col-md">
                            <h6 class="text-charcoal mb-0 w-100">Total</h6>
                            <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">{{ order_details['orders'][0]['total_amount']
                                | int}} Rs</p>
                        </div>
                        <div class="col-6 col-md">
                            <h6 class="text-charcoal mb-0 w-100">Shipped To</h6>
                            <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">Late M. Night</p>
                        </div>
                        <div class="col-12 col-md-3">
                            <a href="{{url_for('profile.orders')}}" class="btn btn-primary w-100">Back to order</a>
                        </div>
                    </div>

                </div>
                <div class="list-group-item p-3 bg-white">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-9 pr-0 pr-md-3">
                            <div class="alert p-2 alert-success w-100 mb-0">
                                <h6 class="text-green mb-0"><b>Shipped</b></h6>
                                <p class="text-green hidden-sm-down mb-0">Est. delivery between Aug 5 – Aug 9th, 2017
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <a href="" class="btn btn-secondary w-100 mb-2 mt-4">Track Shipment</a>
                        </div>
                        {% for detail in details.items() %}

                        <div class="border border-dark p-3 row no-gutters mt-3 mb-3">
                            <div class="col-3 col-md-1">
                                <img class="img-fluid pr-3 rounded"
                                    src="https://img.oxyher.com/{{ detail[1]['img_url'][0] }}"
                                    alt="{{ detail[1]['display_name'] }}">
                            </div>
                            <div class="col-9 col-md-8 pr-0 pr-md-3">
                                <h6 class="text-charcoal mb-2 mb-md-1">
                                    <a href="https://oxyher.com/shop/p/{{ detail[1]['product_id'] }}"
                                        class="text-charcoal">{{ detail[1]['qty'] }} x {{ detail[1]['display_name']
                                        }}</a>
                                </h6>
                                <ul class="list-unstyled text-pebble mb-2 small">
                                    <li>Category : <b>{{ detail[1]['category']|replace('_', ' ')|title }} </b> </li>
                                    <li>Return policy :<b> {{ detail[1]['return_policy']|replace('_', ' ')|title }}</b>
                                    </li>
                                </ul>
                                <h6 class="text-charcoal text-left mb-0 mb-md-2"><b>{{ detail[1]['price'] | int }}
                                        Rs</b></h6>
                            </div>
                            <div class="col-12 col-md-3 hidden-sm-down mt-2">
                                <a href="https://oxyher.com/shop/p/{{ detail[1]['product_id'] }}" class="btn btn-secondary w-100 mb-2">Buy It Again</a>
                                <a href="https://oxyher.com/shop/return/{{ detail[1]['product_id'] }}" class="btn btn-secondary w-100">Request a Return</a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid col-12 col-md-4">
            <div class="pt-5 pt-md-0">
                <div class="list-group mb-3">
                    <div class="list-group-item p-3 bg-snow">
                        <h6 class="mb-0">Order Summary</h6>
                    </div>
                    <div class="list-group-item py-2 px-3 bg-white">
                        <div class="row w-100 no-gutters">
                            <div class="col-6 text-pebble">
                                Subtotal
                            </div>
                            <div class="col-6 text-right text-charcoal">
                                $54.97
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item py-2 px-3 bg-white">
                        <div class="row w-100 no-gutters">
                            <div class="col-6 text-pebble">
                                Sales Tax
                            </div>
                            <div class="col-6 text-right text-charcoal">
                                $4.30
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item py-2 px-3 bg-white">
                        <div class="row w-100 no-gutters">
                            <div class="col-6 text-pebble">
                                Shipping
                            </div>
                            <div class="col-6 text-right text-charcoal">
                                FREE
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item py-2 px-3 bg-white">
                        <div class="row w-100 no-gutters">
                            <div class="col-8 text-pebble">
                                Gift certificate
                            </div>
                            <div class="col-4 text-right text-red text-charcoal">
                                -$5.55
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item py-2 px-3 bg-snow">
                        <div class="row w-100 no-gutters">
                            <div class="col-8 text-charcoal">
                                <b>Total</b>
                            </div>
                            <div class="col-4 text-right text-green">
                                <b>$53.65</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}



{% block tail %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}