{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Profile</title>
<link href='{{ url_for("static", filename="css/style.css")}}' rel="stylesheet">

<style>
    input::placeholder,
    textarea::placeholder {
        color: red;
    }
</style>
{% endblock %}



{% block body %}
{% include 'themes/customer/common/navbar.html' %}
<div class="container">
    <div class="row my-4">
        <div style="margin-top: 10px;" class="col-lg-6  mb-4 mb-md-0">
            <div style="border-radius: 4px;" class="card">
                <div class="m-3">
                    <div class="go-back">
                        <a class="text-decoration-none" href="{{ url_for('home.index')}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                            </svg> back to home
                        </a>

                    </div>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input id="username" class="border form-control-plaintext px-2 bg-body-secondary"
                            value="{{ user[0] }}" readonly />
                    </div>

                    <div class="mb-3">
                        <label for="full_name" class="form-label">Full Name</label>
                        <input id="full_name" class="border form-control-plaintext px-2" value="{{ user[1] }}"
                            readonly />
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        {% if user[2] == "NOT_GIVEN" %}
                        <input type="email" id="email" class="border form-control-plaintext px-2" value=""
                            placeholder="Please fill your email" readonly />
                        {% else %}
                        <input type="email" id="email" class="border form-control-plaintext px-2" value="{{ user[2] }}"
                            readonly />
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="phone_no" class="form-label">Phone Number</label>
                        {% if user[3] is none %}
                        <input type="number" id="phone_no" class="border form-control-plaintext px-2" value=""
                            placeholder="Please fill your mobile number" readonly />
                        {% else %}
                        <input type="number" id="phone_no" class="border form-control-plaintext px-2"
                            value="{{ user[3] }}" readonly />
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="address" class="form-label">Primary Address</label>
                        {% if user[4] == "NOT_GIVEN" %}
                        <textarea rows="5" cols="50" id="address" class="border form-control-plaintext px-2"
                            placeholder="Please fill your address" readonly></textarea>
                        {% else %}
                        <textarea rows="5" cols="50" id="address" class="border form-control-plaintext px-2"
                            readonly>{{ user[4] }}</textarea>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="phone_no" class="form-label">Pincode</label>
                        {% if user[5] is none %}
                        <input type="number" id="pin_code" name="pin_code" class="border form-control-plaintext px-2"
                            value="" placeholder="Enter your pincode" readonly />
                        {% else %}
                        <input type="number" id="pin_code" name="pin_code" class="border form-control-plaintext px-2"
                            value="{{ user[5] }}" placeholder="Enter your pincode" readonly />
                        {% endif %}
                    </div>


                    <!-- <div class="mb-3">
                        <label for="gender" class="form-label">Gender</label>
                        <p id="gender" class="form-control-plaintext">{{ user[5] }}</p>
                    </div> -->

                    <div class="text-start">
                        <a style="border-radius: 4px;" href="{{ url_for('profile.edit') }}" class="btn btn-dark">Click
                            to edit </a>

                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 10px;" class="col-lg-6">
            <div class="container">
                <div style="border-radius: 4px;" class="card">
                    <div class="my-3 mx-3">
                        <div class="text-end">
                            <a style="border-radius: 4px;" class="btn btn-dark text-decoration-none"
                                href="{{ url_for('auth.signout')}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                                    <path fill-rule="evenodd"
                                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                                </svg> Logout
                            </a>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="text-start">
                            <a style="border-radius: 4px;" class="text-decoration-none border p-1"
                                href="{{ url_for('profile.orders')}}">
                                my orders
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





{% endblock %}



{% block tail %}

{% endblock %}