<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="/static/img/ico/oxyher_icon.png" alt="Profile Image">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Oxyher
                        <span class="user-level">Administrator</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true">
                    <ul class="nav">
                        <li>
                            <a href="#profile">
                                <span class="link-collapse">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#edit">
                                <span class="link-collapse">Edit Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#settings">
                                <span class="link-collapse">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item {% if request.path == '/seller/home' %} active {% endif %}">
                <a class="nav-link" href="{{ url_for('seller.home') }}">
                    <i class="la la-area-chart"></i>
                    Analytics
                    <span class="badge badge-count">5</span>
                </a>
            </li>
            <li class="nav-item {% if 'products' in request.path  %} active {% endif %}">
                <a class="nav-link" href="{{ url_for('seller.products') }}">
                    <i class="las la-shopping-bag"></i>
                    Products
                    <span class="badge badge-count">14</span>
                </a>
            </li>
            <li class="nav-item {% if request.path == '/seller/payments' %} active {% endif %}">
                <a class="nav-link" href="{{ url_for('seller.payments') }}">
                    <i class="las la-money-bill"></i>
                    Payments
                    <span class="badge badge-count">50</span>
                </a>
            </li>
            <li class="nav-item {% if request.path == '/seller/orders' %} active {% endif %}">
                <a class="nav-link" href="{{ url_for('seller.orders') }}">
                    <i class="las la-clipboard-list"></i>
                    Orders
                    <span class="badge badge-count">6</span>
                </a>
            </li>
            <li class="nav-item {% if request.path == '/seller/notifications' %} active {% endif %}">
                <a class="nav-link" href="{{ url_for('seller.notifications') }}">
                    <i class="la la-bell"></i>
                    Notifications
                    <span class="badge badge-success">3</span>
                </a>
            </li>
            <li class="nav-item {% if request.path == '/seller/marketing' %} active {% endif %}">
                <a class="nav-link" href="{{ url_for('seller.marketing') }}">
                    <i class="las la-bullhorn"></i>
                    Marketing
                    <span class="badge badge-danger">25</span>
                </a>
            </li>
            <li class="nav-item {% if request.path == '/seller/accounts' %} active {% endif %}">
                <a class="nav-link" href="{{ url_for('seller.accounts') }}">
                    <i class="las la-user"></i>
                    Accounts
                </a>
            </li>
            <li class="nav-item update-pro">
                <button class="btn btn-primary" data-toggle="modal" data-target="#modalUpdate">
                    <i class="la la-hand-pointer-o"></i>
                    Update To Pro
                </button>
            </li>
        </ul>
    </div>
</div>
